@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800&display=swap');

/* Mede Air */
.score {
    margin-top: 20px;
    margin-left: 20px;
}
img {
    height: 350px;
}
.image-overlay {
    height: 350px;
    display: block;
}
.station h1 {
    width: 280px;
}
